.sectionTitle a:hover,
  .sectionTitle a:focus,
  .sectionTitle a:active {
    text-decoration: underline;
  }
  
  .sectionTitle {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
  }

  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tr:hover {
    background-color: #ddd;
  }

  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }

  .table th:hover {
    background-color: #ddd;
    color: #000
  }